body{
    padding: 0px;
    margin:0px;
    background-color: rgba(255, 255, 255, 1);
    font-family: 'IBM Plex Sans';

}

html, body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  overflow-x: hidden;  
  scroll-behavior: smooth;
}

.nav{
    display: flex;
    padding-left:80px;
    padding-right: 80px;
    padding-top: 16.58px;
    /* justify-content: center; */
     background-color: rgba(255, 255, 255, 1);
    justify-items: center;
    align-items: center;
    align-content: center;
}

.nav img{
width: 120.4566421508789;
height: 38.84px;
}


.list ul{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 17px;
    display: flex;
	list-style:none;
    position: absolute;
    right: 80px;
    gap: 35px;

}

.list{
    width: 568px;
    height: 72px;
    
}
 .list li{
     cursor: pointer;
}

.content{

    background-image: url('images/bg.jpg');
    background-size: cover;
    width:100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color:rgba(255, 255, 255, 1);
}

.insidecontent{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    /* background-color: blanchedalmond; */
    width: 903px;
    height: 320px;
    /* position: absolute; */
    /* top: 240.16px;
    left: 268.83px; */
    /* gap: 48px; */
}

.insidecontent p{
    font-size:18px;
}

.insidecontent h1{
    text-align: center;
    font-size: 72px;
    word-wrap: break-word;
}

.textcontent{
    text-align: center;
    width: 903;
    height: 176;
    font-family: 'IBM Plex Sans';
    font-weight: 400;
    font-size: 80px;
    /* line-height: 88px; */
    /* letter-spacing: -3px; */
    text-align: center;
}

.textcontent h1{
    font-weight: 450;
}

.btn{
    width: 342;
    height: 56;
    gap: 16px;
    padding-top: 16px;
    padding-right: 26px;
    padding-bottom: 16px;
    padding-left: 26px;
    border: 0px;
    background-color: rgba(4, 107, 177, 1);
    color:rgba(255, 255, 255, 1);
    font-size: 18px;
}

.wholeside{
    display: flex;
    /* flex-direction: row; */
   justify-content: center;
   align-items: center;
   /* align-content: center; */
}

#sidetext{
    width: 60vw;
    height: 448px;
    gap: 62px;
    font-family: 'IBM Plex Sans';
    font-weight: 400;
    font-size: 30px;
    line-height: 1.3em;
    letter-spacing: 2px;
    color:rgba(102, 114, 135, 1);
     padding-top: 50px;
    padding-right: 50px;
    padding-left: 30px;
}

#sidetext h3{
    word-spacing: 20px;
    font-size:62px;
    font-weight: 150px;
    letter-spacing: 2px;
    color: black;
}

.side{
    width: 60%;
    height: 645px;
    gap: 80px;
    padding-top: 80px;
    padding-right: 80px;
    padding-left: 80px;
    position: relative;
    float:left;
    overflow-wrap: break-word;
    clear:both;
}

.side1{
    width: 40vw;
    position: relative;
    float: right;
    top: 50px;
    left: 0px;
    clear:both;
}

.side1 img{
    padding-top: 60px;
    padding-right: 60px;
    padding-left: 40px;
    width: 220px;
    height: 324.3934631347656;
    
    opacity: 75%;
}

.part4{
    width: 1440;
    height: 1056;
    padding: 80px;
    gap: 56px;
}

/* #ptext{
   
} */

.part4{
    padding: 80px;
     width: 872.66259765625;
    height: 108; 
     /* gap: 48px;  */
    font-family: 'IBM Plex Sans';
    margin:10px;
    /* margin: 10px; */
    /* line-height: 38px;  */
     /* letter-spacing: -3px;  */
}

.part4 h3{
    position: relative;
    top:-60px;
    /* padding-top: 10px; */
    font-weight: 500;
    font-size: 65px;
    color: rgb(0, 0, 0);
}

.part4 p{
    color:rgba(102, 114, 135, 1);
    font-size: 18px;
}

.imagess{
    position: relative;
    top:-110px;
    padding: 40px;
    /* overflow: hidden; */
    gap:48px;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 616px 616px; 
    max-width: 100%;
    height: 620px;
    /* border: 5px solid rgb(51, 109, 134); */
}


.box1{ 
    background-image: url('images/sidebyside.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 616px;
    height: 620px;
    /* border:5px solid rgb(50, 11, 224) */
    /* display: grid;
    grid-template-columns: 600px 600px; 
    justify-content: center;
    justify-items: center; */
    /* padding: 40px; */
}


.box2{ 
    background-image: url('images/sidebyside2.png');
    background-size: contain;
    background-position:center;
    background-repeat: no-repeat;
    width: 616px;
    height: 620px;

}

.box-content{
    color:rgba(255, 255, 255, 1) ;
    
    position: relative;
    top: 428px;
    /* gap: 24px; */
    padding: 24px;
    padding-bottom: 0px;
    background-color: rgba(8, 26, 54, 0.7);
    width: calc(616-24);
    height: 165px; 
    /* border: 2px solid red; */
    overflow: hidden;
    word-wrap: break-word;
    /* text-align: center; */
}

.box-content h3{
     color:rgba(255, 255, 255, 1) ;
    /* width: 342px;
    height: 40px;  */
    font-family: 'IBM Plex Sans';
    /* font-weight: 500; */
    font-size: 32px; 
     position: relative;
    top:-50px;
    /* line-height: 40px; */
    /* letter-spacing: -2%; */
    /* vertical-align: middle; */
    /* text-align:left;  */
} 

.box-content p{
    padding: 0px;
    color:rgba(255, 255, 255, 1) ;
    font-family: 'IBM Plex Sans';
    font-weight: 400;
    font-size: 18px;
    position: relative;
    top:-60px;
    /* line-height: 28px; */
    /* letter-spacing: 0px; */
    /* vertical-align:baseline; */
    /* text-align: left;  */
}  

.buttons{
    position: relative;
    top:490px;
    left:-665px;
}

.p1{
    max-width :100%;
    height: 720px;
    
    /* margin:10px; */
    background-image: url('images/footer.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    top:-30px;
    /* transform: rotate(90deg); */
}

.p1 p{
    width:1147px;
    height: 204px;
    color: rgba(255, 255, 255, 1);
    font-family: IBM Plex Sans;
    font-weight: 400;
    font-size: 54px;
    line-height: 68px;
    letter-spacing: -4px;
    position: relative;
    top: 50px;
    left:80px;
    word-wrap: break-word;
}

.footerpart1{
    max-width: 100% ;
    height: 539.566px;
    gap: 64px;
    padding-top: 0px;
    padding-right: 64px;
    /* padding-bottom: 32px; */
    margin-bottom: 0px;
    padding-left: 64px;
    position: relative;
    top: -32px;
    /* border: 5px solid green; */
    background-color: rgba(18, 36, 72, 1);
}

footer{
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.footer-content{
    width: 1312px;
    height: 427.5661926269531px;
    opacity: 1;
    gap: 120px;
    color: rgba(255, 255, 255, 1);
    
}

.footerpart1{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.footer-content p{
    size:18px;
    gap:120px;
    letter-spacing: 1px;
    padding-top:40px;
}

.footerpart1 button{
  margin-top:  20px;
  gap: 120px;
  margin-left:35px;
  padding-left: 20px;
  padding-right: 20px;
}

.footerpart1 img{
    width: 320px;
    height: 103.56620025634766px;
    opacity: 1;

}

.footerpart1 .fbn{
    background-color:rgba(4, 107, 177, 1);
}

.footer-content button{
   background-color: rgba(5, 6, 6, 1);
}

.mainfooter{
     background-color: rgba(18, 36, 72, 1);
    size: 18px;
    display: flex;
     justify-content: space-between;
     padding-left: 40px;
     padding-right: 40px;
     padding-top: 0px;
     padding-bottom: 20px;
    position: relative; 
    top: -35px;
    color: rgb(255, 250, 250); 
} 


@media (max-width : 1024px){
    .p1{
    max-width :100%;
    height: 720px; 
    background-image: url('images/footer.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    top:-30px;
}

.p1 p{
    width:900px;
    height: 150px;
    color: rgba(255, 255, 255, 1);
    font-family: IBM Plex Sans;
    font-weight: 400;
    font-size: 41px;
    line-height: 60px;
    letter-spacing: -2px;
    position: relative;
    top: 50px;
    left:80px;
    word-wrap: break-word;
}

    .imagess{
    position: relative;
    top:-110px;
        left:50px;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 616px 616px; 
    max-width: 100%;
    height: 416px;
}


.box1{ 
    background-image: url('images/sidebyside.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 440px;
    height: 520px;
    position: relative;
    left: 35px;
}


.box2{ 
    background-image: url('images/sidebyside2.png');
    
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    width: 440px;
    height: 520px;
    position: relative;
    bottom: 0px;
    right: 126px;
}

.box-content{
    color:rgba(255, 255, 255, 1) ;
    
    position: relative;
    top: 330px;
    padding: 24px;
    padding-bottom: 0px;
    background-color: rgba(8, 26, 54, 0.7);
    width: calc(616-24);
    height: 165px; 
    overflow: hidden;
    word-wrap: break-word;
}

.box-content h3{
     color:rgba(255, 255, 255, 1) ;
    font-family: 'IBM Plex Sans';
    font-size: 28px; 
} 

.box-content p{
    padding: 0px;
    color:rgba(255, 255, 255, 1) ;
    font-family: 'IBM Plex Sans';
    font-weight: 400;
    font-size: 18px;
    position: relative;
    top:-60px;
}  

.buttons{
    position:absolute;
    top:560px;
    left:-504px;
}

 #ptext{
        position: relative;
        right: 30px;
    }

}

@media (max-width: 768px){
    .nav{
    max-width: 768px;
    height: 130.8373260498047px;
    display: flex;
    flex-direction: column;
     background-color: rgba(255, 255, 255, 1);
    justify-items: center;
    align-items: center;
    align-content: center;
}

    .nav img{
    width: 146.4566421508789px;
    height: 51.83732604980469px;
    }

    .list li{
    gap: 10px;
    padding-top: 10px;
    padding-right: 1px;
    padding-bottom: 10px;
    padding-left: 1px;
    }

    .list ul{
    width: 768px;
    height: 70px;
    font-family: 'IBM Plex Sans';
    font-weight: 500;
    font-style: Medium;
    font-size: 23px;
    line-height: 20px;
    letter-spacing: 0px;
    position: relative;
    right: 80px;
    gap: 20px;
    position: relative;
    top: 0px;
    left:-110px;
    }

    .listul{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .list li{
    width: 78px;
    height: 60px;
    gap: 10px;
    padding-top: 20px;
    padding-right: 42px;
    padding-bottom: 20px;
    padding-left: 6px;
    }

    .content{

    background-image: url('images/bg.jpg');
    background-size: cover;
    width:100%;
    height: 572px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color:rgba(255, 255, 255, 1);
}

.insidecontent{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    width: 425px;
    height: 308px;
    display: flex;
    justify-content: center;
    word-wrap: break-word;
}

.insidecontent p{
    font-size:15px;
    letter-spacing: 0.7px;
}

.insidecontent h1{
    text-align: center;
    font-size: 52px;
    word-wrap: break-word;
}

.textcontent{
    text-align: center;
    width: 903;
    height: 176;
    font-family: 'IBM Plex Sans';
    font-weight: 400;
    font-size: 80px;
    text-align: center;
}

.textcontent h1{
    font-weight: 450;
}

.btn{
    width: 80vw;
    height: 24vh;
    gap: 16px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    letter-spacing:1.5px;
    border: 0px;
    background-color: rgba(4, 107, 177, 1);
    color:rgba(255, 255, 255, 1);
    font-size: 20px;
}

    .wholeside{
    width: 100%;
    height: 685px;
    gap: 32px;
    padding-top: 40px;
    padding-right: 16px;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
        position: relative;
        right:140px;
        bottom: 6px
}

#sidetext{
    width: 90vw;
    height: 432px;
    gap: 20px;
    font-family: 'IBM Plex Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 2px;
    color:rgba(102, 114, 135, 1);
    padding-top: 5px;
    padding-right: 50px;
    padding-left: 30px;
}

#sidetext h3{
    width: 358px;
    height: 48px;
    word-spacing: 20px;
    font-size:40px;
    letter-spacing: 2px;
    color: black;
    position: relative;
    top: 15px;
}


.side1 img{
    width:150px;
    height:216.9px;
    opacity: 0.9;
    position: relative;
    right: -150px;
    bottom: 190px;
}

.part4{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 950px;
    padding-top: 30px;
    padding-right: 16px;
    padding-bottom: 30px;
    padding-left: 13px;
    gap: 40px;
    font-family: 'IBM Plex Sans';
    margin:10px;
}

.part4 h3{
    position: relative;
    left:30px;
    top: 20px;
    padding-right:16px;
    padding-left:3px;
    color: rgb(0, 0, 0);
    font-family: 'IBM Plex Sans';
    font-weight: 500;
    font-style: Medium;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1px;

}

.part4 p{
    color:rgba(102, 114, 135, 1);
    font-family: 'IBM Plex Mono';
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.5px;
    position: relative;
    left: 30px;
    top: 35px;

}

 .imagess {
    position: relative;
    top: -63px;
    right: 22.5px;
    padding: 40px;
    gap: 48px;
    display: grid;
    justify-content: center;
    justify-items: center;
    height: 440px;
    
}

 .box1{ 
    background-image: url('images/sidebyside.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 358px;
    height: 400px;
    position: relative;
     left: 70px;
}


.box2{ 
    background-image: url('images/sidebyside2.png');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    width: 358px;
    height: 400px;
     position: relative;
     right: 215px;
}

.box-content{
    color:rgba(255, 255, 255, 1) ;
    position: relative;
    top: 428px;
    padding: 20px;
    padding-bottom:0px;
    background-color: rgba(8, 26, 54, 0.7);
    width: 318px;
    height: 184px; 
    word-wrap: break-word;
    position: relative;
    left: -0px;
    top: 195px;
}

.box-content h3{
     color:rgba(255, 255, 255, 1) ;
    font-family: 'IBM Plex Sans';
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -2%;
    vertical-align: middle;
    position: relative;
    top: 0px;
    left: 0px;

}

.box-content p{
    color:rgba(255, 255, 255, 1) ;
    font-family: 'IBM Plex Sans';
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.5px;
    position: relative;
    left: 0px;
    top: -8px;

}  

.buttons{
    position: absolute;
    top: 455px;
    left: -310px

}

.p1{
    max-width :100%;
    background-image: url('images/footer.jpg');
    background-size: fill;
    background-position: center;
    background-repeat: no-repeat;
}

.p1 p{
    width:684px;
    height: 240px;
    color: rgba(255, 255, 255, 1);
    font-family: 'IBM Plex Sans';
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -2px;
    word-wrap: break-word;
    position: relative;
    left: 40px;
    top: 62px
}

.footerpart1{
    max-width: 100%;
    height: 585.67px;
    gap: 64px;
    padding-top: 0px;
    padding-right: 64px;
    margin-bottom: 0px;
    position: relative;
    top: -162px;
    background-color: rgba(18, 36, 72, 1);
}

footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer-content{
    width: 1312px;
    height: 427.5661926269531px;
    opacity: 1;
    gap: 120px;
    color: rgba(255, 255, 255, 1);
    
}

.footerpart1{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.footer-content p{
    font-size:16px;
    letter-spacing: 0.5px;
    line-height: 20px;
    padding-top:40px;
}

.footerpart1 button{
  margin-top:  40px;
  gap: 40px;
  margin-left:35px;
  padding-bottom: 16px;
  padding-top: 16px;
  padding-left: 24px;
  padding-right: 24px;
  position: relative;
  top: 0px;
  left: -17px;
}

.footerpart1 .fbn{
    background-color:rgba(4, 107, 177, 1);
}

.footer-content button{
   background-color: rgba(5, 6, 6, 1);
}

.footerpart1 img{
    width: 240px;
    height: 77px;
}

.mainfooter{
    
    background-color: rgba(18, 36, 72, 1);
    size: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
     justify-content: space-between;
     padding-left: 40px;
     padding-right: 40px;
     padding-top: 0px;
     padding-bottom: 20px;
    position: relative; 
    top: -165px;
    color: rgb(255, 250, 250); 
} 
}


@media (max-width: 425px){
    .nav{
    max-width: 425px;
    height: 130.8373260498047px;
    display: flex;
    flex-direction: column;
    /* padding-left:80px; */
    /* padding-right: 80px; */
    /* padding-top: 16.58px; */
    /* justify-content: center; */
     background-color: rgba(255, 255, 255, 1);
    justify-items: center;
    align-items: center;
    align-content: center;
}

    .nav img{
    width: 120.4566421508789px;
    height: 38.83732604980469px;
    }

    .list{
    gap: 10px;
    padding-top: 10px;
    padding-right: 1px;
    padding-bottom: 10px;
    padding-left: 1px;
    }

    .list ul{
    width: 390px;
    height: 60px;
    font-family: 'IBM Plex Sans';
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    /* leading-trim: NONE; */
    line-height: 20px;
    letter-spacing: 0px;
    position: relative;
    right: 80px;
    gap: 10px;
    position: relative;
    left:57px;
    }

    .listul li{
    width: 78px;
    height: 60px;
    gap: 10px;
    padding-top: 10px;
    padding-right: 6px;
    padding-bottom: 20px;
    padding-left: 6px;
    }

    /* New layer is coming. */

    .content{

    background-image: url('images/bg.jpg');
    background-size: cover;
    width:100%;
    height: 512px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color:rgba(255, 255, 255, 1);
}

.insidecontent{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    /* background-color: blanchedalmond; */
    width: 425px;
    height: 308px;
    display: flex;
    justify-content: center;
    word-wrap: break-word;
    /* position: absolute; */
    /* top: 240.16px;
    left: 268.83px; */
    /* gap: 48px; */
}

.insidecontent p{
    font-size:16px;
    letter-spacing: 0.5px;
}

.insidecontent h1{
    text-align: center;
    font-size: 48px;
    word-wrap: break-word;
}

.textcontent{
    text-align: center;
    width: 903;
    height: 176;
    font-family: 'IBM Plex Sans';
    font-weight: 400;
    font-size: 80px;
    /* line-height: 88px; */
    /* letter-spacing: -3px; */
    text-align: center;
}

.textcontent h1{
    font-weight: 450;
}

.btn{
    width: 85vw;
    height: 12vh;
    gap: 16px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    letter-spacing:1.5px;
    border: 0px;
    background-color: rgba(4, 107, 177, 1);
    color:rgba(255, 255, 255, 1);
    font-size: 18px;
}

    .wholeside{
    width: 100%;
    height: 785px;
    gap: 32px;
    padding-top: 40px;
    padding-right: 16px;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
        position: relative;
        right:100px;
        bottom: 90px
   /* justify-content: center; */
   /* align-items: center; */
   /* align-content: center; */
}

#sidetext{
    width: 90vw;
    height: 432px;
    gap: 20px;
    font-family: 'IBM Plex Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 2px;
    color:rgba(102, 114, 135, 1);
    padding-top: 5px;
    padding-right: 50px;
    padding-left: 30px;
}

#sidetext h3{
    width: 358px;
    height: 48px;
    word-spacing: 20px;
    font-size:40px;
    /* line-height: */
    /* font-weight: 150px; */
    letter-spacing: 2px;
    color: black;
}


.side1 img{
    width:120px;
    height:176.9px;
    /* padding-top: 60px;
    padding-right: 60px;
    padding-left: 40px; */
    /* width: 220px;
    height: 324.3934631347656; */
    /* position: relative; */
    /* left:-350px; */
    opacity: 0.9;
    position: relative;
    bottom: 20px;
    left: 30px;
}

.part4{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1124px;
    padding-top: 30px;
    padding-right: 16px;
    padding-bottom: 30px;
    padding-left: 13px;
    gap: 40px;
    font-family: 'IBM Plex Sans';
    margin:10px;
}

.part4 h3{
    position: relative;
    top: -10px;
    padding-right:16px;
    padding-left:3px;
    color: rgb(0, 0, 0);
    font-family: 'IBM Plex Sans';
    font-weight: 500;
    font-style: Medium;
    font-size: 40px;
    /* leading-trim: NONE; */
    line-height: 48px;
    letter-spacing: -1px;

}

.part4 p{
    color:rgba(102, 114, 135, 1);
    font-family: 'IBM Plex Mono';
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.5px;
    position: relative;
    top: 5px;

}

 .imagess {
    position: relative;
    top: -80px;
    right: 22.5px;
    padding: 40px;
    gap: 48px;
    display: grid;
    justify-content: center;
    justify-items: center;
    /* CHANGE THIS LINE ↓ */
    grid-template-columns: 1fr; /* Make one column */
    height: 840px;
    
}

 .box1{ 
    background-image: url('images/sidebyside.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 358px;
    height: 400px;
    position: relative;
    left:-72px;
    border: 0px;
}


.box2{ 
    background-image: url('images/sidebyside2.png');
    background-size: contain;
    background-position:center;
    background-repeat: no-repeat;
    width: 358px;
    height: 400px;
    border:0px;
    position: relative;
    left:-72px;
}

.box-content{
    color:rgba(255, 255, 255, 1) ;
    position: relative;
    top: 428px;
    padding: 20px;
    padding-top: 0px;
    padding-bottom:20px;
    background-color: rgba(8, 26, 54, 0.7);
    width: 358;
    height: 176px; 
    overflow: hidden;
    word-wrap: break-word;
    position: relative;
    top: 200px;
}

.box2 .box-content{
    padding-bottom: 0px;
    position: relative;
    top:198px;
    padding-top:0px;
    padding-bottom: 8px;
}

.box2 .box-content p{
    padding-bottom: 0px;
    position: relative;
        top:-5px;
   
}

.box-content h3{
     color:rgba(255, 255, 255, 1) ;
    font-family: 'IBM Plex Sans';
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -2%;
    vertical-align: middle;
    position: relative;
    top: 5px;

}

.box-content p{
    color:rgba(255, 255, 255, 1) ;
    font-family: 'IBM Plex Sans';
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.5px;

}  

.buttons{
    position: absolute;
    left: 0px; 
    right: 12px;
    top:425px;

}

.p1{
    max-width :100%;
    background-image: url('images/footer.jpg');
    background-size: fill;
    background-position: center;
    background-repeat: no-repeat;
    word-wrap: break-word;
}

.p1 p{
    width:342px;
    height: 240px;
    color: rgba(255, 255, 255, 1);
    font-family: 'IBM Plex Sans';
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -2px;
    text-align: center;
    word-wrap: break-word;
    position: relative;
    left: 28px;
    top: 28px;
}

.footerpart1{
    max-width: 100%;
    height: 585.67px;
    gap: 64px;
    padding-top: 0px;
    padding-right: 64px;
    margin-bottom: 0px;
    /* padding-left: 64px; */
    position: relative;
    top: -162px;
    background-color: rgba(18, 36, 72, 1);
}

footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer-content{
    width: 1312px;
    height: 427.5661926269531px;
    opacity: 1;
    gap: 120px;
    color: rgba(255, 255, 255, 1);
    
}

.footerpart1{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.footer-content p{
    font-size:16px;
    /* gap:120px; */
    letter-spacing: 0.5px;
    line-height: 20px;
    padding-top:40px;
}

.footerpart1 button{
  margin-top:  40px;
  gap: 40px;
  margin-left:35px;
  padding-bottom: 16px;
  padding-top: 16px;
  padding-left: 24px;
  padding-right: 24px;
  position: relative;
  top: 0px;
  left: -17px;
}

.footerpart1 .fbn{
    background-color:rgba(4, 107, 177, 1);
}

.footer-content button{
   background-color: rgba(5, 6, 6, 1);
}

.footerpart1 img{
    width: 240px;
    height: 77px;
}

.mainfooter{
    
    background-color: rgba(18, 36, 72, 1);
    size: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
     justify-content: space-between;
     padding-left: 40px;
     padding-right: 40px;
     padding-top: 0px;
     padding-bottom: 20px;
    position: relative; 
    top: -165px;
    color: rgb(255, 250, 250); 
} 
}


@media (max-width: 375px){
 .buttons{
    position: absolute;
    left: 18px; 
    top:425px;
}

    .p1 p{
    width:342px;
    height: 240px;
    color: rgba(255, 255, 255, 1);
    font-family: 'IBM Plex Sans';
    font-weight: 500;
    font-size: 26px;
    line-height: 40px;
    letter-spacing: -2px;
    text-align: center;
    word-wrap: break-word;
    position: relative;
    left: 12px;
    top: 28px;
}
.insidecontent h1{
    text-align: center;
    font-size: 42px;
    word-wrap: break-word;
}
        .nav{
    max-width: 375px;
    height: 110.8373260498047px;
    display: flex;
    flex-direction: column;
     background-color: rgba(255, 255, 255, 1);
    justify-items: center;
    align-items: center;
    align-content: center;
}

}

@media (max-width: 320px){
    .nav{
    max-width: 315px;
    height: 100.8373260498047px;
    display: flex;
    flex-direction: column;
    /* padding-left:80px; */
    /* padding-right: 80px; */
    /* padding-top: 16.58px; */
    /* justify-content: center; */
     background-color: rgba(255, 255, 255, 1);
    justify-items: center;
    align-items: center;
    align-content: center;
}

    .nav img{
    width: 120.4566421508789px;
    height: 38.83732604980469px;
    }

    .list{
    gap: 5px;
    padding-top: 10px;
    padding-right: 1px;
    padding-bottom: 10px;
    padding-left: 1px;
    }

    .list ul{
    width: 210px;
    height: 60px;
    font-family: 'IBM Plex Sans';
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    /* leading-trim: NONE; */
    line-height: 20px;
    letter-spacing: 0px;
    position: relative;
    right: 80px;
    gap: 10px;
    position: relative;
    left:137px;
    }

    .listul li{
    width: auto;
    height: 60px;
    gap: 10px;
    padding-top: 10px;
    padding-right: 6px;
    padding-bottom: 20px;
    padding-left: 6px;
    }

    /* New layer is coming. */

    .content{

    background-image: url('images/bg.jpg');
    background-size: cover;
    width:100%;
    height: 512px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color:rgba(255, 255, 255, 1);
}

.insidecontent{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    /* background-color: blanchedalmond; */
    width: 425px;
    height: 308px;
    display: flex;
    justify-content: center;
    word-wrap: break-word;
    /* position: absolute; */
    /* top: 240.16px;
    left: 268.83px; */
    /* gap: 48px; */
}

.insidecontent p{
    font-size:14px;
    letter-spacing: 0.5px;
}

.insidecontent h1{
    text-align: center;
    font-size: 36px;
    word-wrap: break-word;
}

.textcontent{
    text-align: center;
    width: 903;
    height: 176;
    font-family: 'IBM Plex Sans';
    font-weight: 400;
    font-size: 80px;
    /* line-height: 88px; */
    /* letter-spacing: -3px; */
    text-align: center;
}

.textcontent h1{
    font-weight: 450;
}

.btn{
    width: 85vw;
    height: 12vh;
    gap: 16px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    letter-spacing:1.5px;
    border: 0px;
    background-color: rgba(4, 107, 177, 1);
    color:rgba(255, 255, 255, 1);
    font-size: 15px;
}

    .wholeside{
    width: 100%;
    height: 785px;
    gap: 32px;
    padding-top: 40px;
    padding-right: 16px;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
        position: relative;
        right:100px;
        bottom: 90px
   /* justify-content: center; */
   /* align-items: center; */
   /* align-content: center; */
}

#sidetext{
    width: 90vw;
    height: 432px;
    gap: 20px;
    font-family: 'IBM Plex Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 2px;
    color:rgba(102, 114, 135, 1);
    padding-top: 5px;
    padding-right: 50px;
    padding-left: 30px;
}

#sidetext h3{
    width: 358px;
    height: 48px;
    word-spacing: 20px;
    font-size:35px;
    /* line-height: */
    /* font-weight: 150px; */
    letter-spacing: 2px;
    color: black;
}


.side1 img{
    width:120px;
    height:176.9px;
    /* padding-top: 60px;
    padding-right: 60px;
    padding-left: 40px; */
    /* width: 220px;
    height: 324.3934631347656; */
    /* position: relative; */
    /* left:-350px; */
    opacity: 0.9;
    position: relative;
    bottom: 20px;
    left: 30px;
}

.part4{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1124px;
    padding-top: 30px;
    padding-right: 16px;
    padding-bottom: 30px;
    padding-left: 13px;
    gap: 40px;
    font-family: 'IBM Plex Sans';
    margin:10px;
}

.part4 h3{
    position: relative;
    top: -10px;
    left: 18px;
    padding-right:16px;
    padding-left:3px;
    color: rgb(0, 0, 0);
    font-family: 'IBM Plex Sans';
    font-weight: 500;
    font-style: Medium;
    font-size: 34px;
    /* leading-trim: NONE; */
    line-height: 48px;
    letter-spacing: -1px;

}

.part4 p{
    color:rgba(102, 114, 135, 1);
    font-family: 'IBM Plex Mono';
    font-weight: 400;
    font-style: Regular;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.5px;
    position: relative;
    top: 5px;
    left: 20px;

}

 .imagess {
    position: relative;
    top: -80px;
    right: 22.5px;
    padding: 40px;
    gap: 48px;
    display: grid;
    justify-content: center;
    justify-items: center;
    /* CHANGE THIS LINE ↓ */
    grid-template-columns: 1fr; /* Make one column */
    height: 840px;
    
}

 .box1{ 
    background-image: url('images/sidebyside.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 297px;
    height: 400px;
    position: relative;
    left:-73px;
    border: 0px;
}


.box2{ 
    background-image: url('images/sidebyside2.png');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    width: 297px;
    height: 400px;
    border:0px;
    position: relative;
    left:-72px;
    
}

.box-content{
    color:rgba(255, 255, 255, 1) ;
    position: relative;
    top: 428px;
    padding: 20px;
    padding-top: 0px;
    padding-bottom:30px;
    background-color: rgba(8, 26, 54, 0.7);
    width: 257px;
    height: 176px; 
    overflow: hidden;
    word-wrap: break-word;
    position: relative;
    right: 10px;
    top: 190px;
}

.box2 .box-content{
    padding-bottom: 0px;
    position: relative;
    top:198px;
    padding-top:0px;
    padding-bottom: 28px;
}

.box2 .box-content p{
    padding-bottom: 0px;
    position: relative;
    top:0px;
}
    
.box-content h3{
     color:rgba(255, 255, 255, 1) ;
    font-family: 'IBM Plex Sans';
    font-weight: 500;
    font-style: Medium;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: -2%;
    vertical-align: middle;
    position: relative;
    left: -2px;
    top: 5px;

}

.box-content p{
    color:rgba(255, 255, 255, 1) ;
    font-family: 'IBM Plex Sans';
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.5px;
    position: relative;
    left: -2px;
}  

.buttons{
    position: absolute;
    left: 10px; 
    right: 12px;
    top:425px;

}

.p1{
    max-width :100%;
    background-image: url('images/footer.jpg');
    background-size: fill;
    background-position: center;
    background-repeat: no-repeat;
    word-wrap: break-word;
}

.p1 p{
    width:270px;
    height: 200px;
    color: rgba(255, 255, 255, 1);
    font-family: 'IBM Plex Sans';
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: -1px;
    text-align: center;
    word-wrap: break-word;
    position: relative;
    left: 28px;
    top: 28px;
}


}